aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
APScheduler==3.11.2
asgiref==3.11.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
CacheControl==0.14.4
cachetools==7.1.0
certifi==2026.4.22
cffi==2.0.0
channels==4.3.2
channels-redis==4.3.0
charset-normalizer==3.4.7
click==8.3.3
constantly==23.10.4
daphne==4.2.1
dataclasses-json==0.6.7
defusedxml==0.8.0rc2
dj-database-url==3.1.2
Django==6.0.4
django-allauth==65.16.1
django-cors-headers==4.9.0
djangorestframework==3.17.1
dnspython==2.8.0
firebase-admin==7.4.0
frozenlist==1.8.0
google-api-core==2.30.3
google-api-python-client==2.195.0
google-auth==2.50.0
google-auth-httplib2==0.3.1
google-cloud-core==2.5.1
google-cloud-firestore==2.27.0
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-resumable-media==2.8.2
googleapis-common-protos==1.74.0
grpcio==1.80.0
grpcio-status==1.80.0
gunicorn==25.3.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httplib2==0.31.2
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.13
incremental==24.11.0
jsons==1.6.3
marshmallow==4.3.0
marshmallow-enum==1.5.1
msgpack==1.1.2
multidict==6.7.1
mypy-extensions==1.1.0
oauthlib==3.3.1
packaging==26.2
payu-sdk==1.2.0
payu-websdk==0.1.7
phonepe-sdk==1.1.0
pillow==12.2.0
priority==2.0.0
propcache==0.4.1
proto-plus==1.27.2
protobuf==7.34.1
psycopg2==2.9.12
psycopg2-binary==2.9.12
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pyfcm==2.1.0
PyJWT==2.12.1
pyOpenSSL==26.1.0
pyparsing==3.3.2
python3-openid==3.2.0
pytz==2026.1.post1
redis==7.4.0
requests==2.33.1
requests-oauthlib==2.0.0
rsa==4.9.1
service-identity==24.2.0
shortuuid==1.0.13
six==1.17.0
social-auth-app-django==5.9.0
social-auth-core==4.9.1
sqlparse==0.5.5
Twisted==25.5.0
txaio==25.12.2
typing-inspect==0.9.0
typing_extensions==4.15.0
typish==1.9.3
tzdata==2026.2
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.46.0
whitenoise==6.12.0
yarl==1.23.0
zope.interface==8.4