<!DOCTYPE html>
{% extends 'admintemplate.html' %}
{% load static %}
<head>
  <title>{% block title %}Admin Dashboard{% endblock %}</title> 
  {% block link_section %}
  <link rel="stylesheet" href="{% static '/css/admindelivery.css' %}">
  <link rel="stylesheet" href="{% static '/css/adminsubstyles.css' %}">
  <script src="{% static 'js/admindelivery.js' %}"></script>
  {% endblock %}
  
</head>

<body>
    {% block delivery_block %}
    <li class="nav-item has-submenu">
        <a href="#" class="nav-link active">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
              </svg>
              
            <span class="nav-link-text">Delivery</span> 
            
        </a>
        <ul class="submenu">
            <li><a class="nav-link active" href="{% url 'admindeliverypersonal' %}" ><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>Delivery Personnel</a></li>
              <li><a class="nav-link" href="{% url 'adminassignorder' %}" ><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
              </svg>Assign Order</a></li>
              <li><a class="nav-link" href="{% url 'admindeliveryperformance' %}" ><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart">
                <line x1="12" y1="20" x2="12" y2="10"></line>
                <line x1="18" y1="20" x2="18" y2="4"></line>
                <line x1="6" y1="20" x2="6" y2="16"></line>
              </svg>Delivery Performance</a></li>
              <li><a class="nav-link" href="{% url 'admindeliverylocations' %}" ><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
              </svg>Delivery Locations</a></li>
        </ul>
    </li>
    {% endblock %}
  {% block main_content %}
    <div class="subnav-container">
        <div class="subnav">
            <h3>Delivery Personnel</h3>
            <div class="addbutton">
              <button id="addpersonnelbtn" onclick="showAddPersonnelForm()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <circle cx="12" cy="12" r="10" fill="none" stroke="currentColor" stroke-width="2"/>
                      <path d="M12 7v10M7 12h10" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                  </svg> <span>Add Delivery Personnel</span>
              </button>
          </div>
        </div>
    </div>
    <div class="overlay-container" id="adddeliverypersonneloverlay">
      <div class="overlay-content">
        <section style="display: flex; align-items: center; justify-content: space-between;" class="overlay-container-title">
          <h3></h3>
          <button class="close-overlay" id="closeSignup" onclick="closeAddPersonnelForm()" style="display: flex; align-items: center; justify-content: space-between;">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
          </button>
        </section>
        <section>
          <form method="post" enctype="multipart/form-data" id="addpersonnelform" action="{% url 'adminaddpersonnel' %}">
            {% csrf_token %} 
            <div class="form-group">
              <label for="personnelname">Name</label>
              <input type="text" name="personnelname" id="personnelname" placeholder="Name" required>
              <span class="error-message" id="nameError"></span> 
            </div>
    
            <div class="form-group">
              <label for="personnelphonenumber">Phone</label>
              <input type="tel" name="personnelphonenumber" id="personnelphonenumber" placeholder="Phone Number" required>
              <span class="error-message" id="phoneError"></span>
             </div>
    
            <div class="form-group">
              <label for="personnelemail">Email</label>
              <input type="email" name="personnelemail" id="personnelemail" placeholder="Email" required>
              <span class="error-message" id="emailError"></span> 
            </div>
    
            <div class="form-group">
              <label for="personnelimage">Photo</label>
              <input type="file" name="personnelimage" id="personnelimage">
            </div>
            <div class="addbutton addformbtn">
              <button type="submit" id="addpersonnel">Add Personnel</button>
            </div>
          </form>
        </section>
      </div>
    </div>
    <div class="deliveryPersonal">
      
    </div>
  {% endblock %} 
</body>
</html>