<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Food</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/daf4636196.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<style>

</style>
<body>
    <header class="header-container">
        <div class="header-content">
          <div class="header-title">
            <a href="#" class="logo-link" title="Food Delivery">
                <img src="{% static 'images/3.png' %}" alt="">
              </a>
              <h3>Food Hub</h3>
          </div>
          
          <ul class="nav-items-container">   
            <li class="nav-item search-item">
                <form action="/search" method="GET"> 
                    <div class="search-bar-container">
                      <input type="text" name="q" placeholder="Search for dishes" class="search-input" autocomplete="off">
                      <button type="submit" class="search-button">
                        <svg class="ppAwf" viewBox="5 -1 12 25" height="18" width="18" fill=""><path d="M17.6671481,17.1391632 L22.7253317,22.1973467 L20.9226784,24 L15.7041226,18.7814442 C14.1158488,19.8024478 12.225761,20.3946935 10.1973467,20.3946935 C4.56550765,20.3946935 0,15.8291858 0,10.1973467 C0,4.56550765 4.56550765,0 10.1973467,0 C15.8291858,0 20.3946935,4.56550765 20.3946935,10.1973467 C20.3946935,12.8789625 19.3595949,15.3188181 17.6671481,17.1391632 Z M10.1973467,17.8453568 C14.4212261,17.8453568 17.8453568,14.4212261 17.8453568,10.1973467 C17.8453568,5.97346742 14.4212261,2.54933669 10.1973467,2.54933669 C5.97346742,2.54933669 2.54933669,5.97346742 2.54933669,10.1973467 C2.54933669,14.4212261 5.97346742,17.8453568 10.1973467,17.8453568 Z"></path></svg>
                      </button>
                    </div>
                  </form>
            </li>
              <li class="nav-item cart-item">
                <a href="/checkout">
                  <span class="cart-icon-container" style="display: flex;align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag cart-icon" viewBox="0 0 16 16">
                      <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                    </svg>
                    <span class="cart-count">0</span>
                  </span>
                  Cart 
                </a>
              </li>
              <li class="nav-item">
                <a href="/account"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg>
                  Account
                </a>
              </li>
              <li class="nav-item">
                  <a href="/support">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    Help
                  </a>
                </li>
            </ul>
          </div>
        </header>
  <main>
    <section class="frequently-ordered">
        <div>
            <h3>Eat And Repeat</h3> 
            <div class="dish-carousel"> 
                <div class="carousel-track">
                    <div class="dish-card">
                        <img src="https://b.zmtcdn.com/data/dish_images/197987b7ebcd1ee08f8c25ea4e77e20f1634731334.png" alt="Chicken Dish">
                        <div class="dish-info">
                            <h3>Chicken</h3>
                        </div>
                    </div>
                    
                    <div class="dish-card">
                        <img src="https://b.zmtcdn.com/data/dish_images/d9766dd91cd75416f4f65cf286ca84331634805483.png" alt="Chicken Dish">
                        <div class="dish-info">
                            <h3>Idli</h3>
                        </div>
                    </div>
                    <div class="dish-card">
                        <img src="https://b.zmtcdn.com/data/dish_images/c2f22c42f7ba90d81440a88449f4e5891634806087.png" alt="Chicken Dish">
                        <div class="dish-info">
                            <h3>Rolls</h3>
                        </div>
                    </div>
                    <div class="dish-card">
                        <img src="https://b.zmtcdn.com/data/dish_images/e44c42ff4b60b025225c8691ef9735b11635781903.png" alt="Chicken Dish">
                        <div class="dish-info">
                            <h3>Paneer</h3>
                        </div>
                    </div>
                    <div class="dish-card">
                        <img src="https://b.zmtcdn.com/data/dish_images/d5ab931c8c239271de45e1c159af94311634805744.png" alt="Chicken Dish">
                        <div class="dish-info">
                            <h3>Cakes</h3>
                        </div>
                    </div>
                    <div class="dish-card">
                        <img src="https://b.zmtcdn.com/data/o2_assets/bf2d0e73add1c206aeeb9fec762438111727708719.png" alt="Chicken Dish">
                        <div class="dish-info">
                            <h3>Biryani</h3>
                        </div>
                    </div>
                    <div class="dish-card">
                        <img src="https://b.zmtcdn.com/data/o2_assets/d0bd7c9405ac87f6aa65e31fe55800941632716575.png" alt="Chicken Dish">
                        <div class="dish-info">
                            <h3>Pizza</h3>
                        </div>
                    </div>
                    
                </div>
                <i class="bi bi-chevron-compact-left carousel-prev"></i>
                <i class="bi bi-chevron-compact-right carousel-next"></i>
            </div>
        </div>
    </section>
    <hr class="sc-kyDlHK gdbIIB">
    <section class="meal-options section"> 
        <div class="container">
          <div class="options-wrapper">
            <div class="option" id="meals">
              <h3>Explore Meals</h3>
              <div class="meal-items">
                <a href="#" class="meal-item">
                  <img src="{% static 'images/south_indian_food.jpeg' %}" alt="Breakfast"> 
                  <h4>Breakfast</h4>
                </a>
                <a href="#" class="meal-item">
                  <img src="{% static 'images/biryani.webp' %}" alt="Lunch"> 
                  <h4>Lunch</h4>
                  
                </a>
                <a href="#" class="meal-item">
                  <img src="{% static 'images/samosa.webp' %}" alt="Snacks"> 
                  <h4>Snacks</h4>
                </a>
                </div> 
            </div>
          </div>
        </div>
    </section>
    <section>
      
    </section>
    <hr class="sc-kyDlHK gdbIIB">
    <button id="scrollToTopBtn" title="Back to top">
        <i class="bi bi-chevron-up" style="font-weight: 600;"></i>
    </button>
  </main>
</body>
<footer class="footer" id="footer">
    <div class="container"> 
      <div class="footer-content">
  
        <div class="footer-section logo-section">
          <img src="{% static 'images/3.png' %}" alt="Canteen Logo">
          
        </div> 
  
        <div class="footer-section links-section">
          <div class="link-column">
            <h6>Contact Us</h6>
            <nav>
              <a href="#">Email</a>
              <a href="#">Phone</a>
            </nav>
          </div>
        </div>
        <div class="footer-section maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d795.6657633302855!2d83.40501683559759!3d18.061473825406793!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3be5b8cf7c64d5%3A0x1d00d3df1d61db4e!2sMVGR%20Canteen!5e0!3m2!1sen!2sin!4v1727594887566!5m2!1sen!2sin" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="footer-section social-section">
          <h6>Social Links</h6>
          <div class="social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <div class="app-download">
            <a href="#" target="_blank"><img src="https://b.zmtcdn.com/data/webuikit/23e930757c3df49840c482a8638bf5c31556001144.png" alt="Download on the App Store"></a>
            <a href="#" target="_blank"><img src="https://b.zmtcdn.com/data/webuikit/9f0c85a5e33adb783fa0aef667075f9e1556003622.png" alt="Get it on Google Play"></a>
          </div>
        </div>
  
      </div> 
      <hr class="footer-divider">
      <p class="copyright">
        © 2024. All Rights Reserved.
      </p>
    </div>
  </footer>
<script>
    const track = document.querySelector('.carousel-track');
    const prevButton = document.querySelector('.carousel-prev');
    const nextButton = document.querySelector('.carousel-next');
    let currentPosition = 0;
    const cardWidth = 235; 

    nextButton.addEventListener('click', () => {
    const maxScroll = track.scrollWidth - track.clientWidth;
    if (currentPosition + cardWidth < maxScroll) {
        currentPosition += cardWidth;
    } 
    track.style.transform = `translateX(-${currentPosition}px)`;
    });

    prevButton.addEventListener('click', () => {
    if (currentPosition > 0) {
        currentPosition -= cardWidth; 
    } else {
        currentPosition = 0; 
    }
    track.style.transform = `translateX(-${currentPosition}px)`;
    });

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();
        const targetId = this.getAttribute('href');
        const targetElement = document.querySelector(targetId); 
        const startPosition = window.pageYOffset; 
        const distanceToScroll = targetElement.getBoundingClientRect().top; 
        let startTime = null;
        function animation(currentTime) {
        if (startTime === null) startTime = currentTime;
        const timeElapsed = currentTime - startTime;
        const run = easeInOut(timeElapsed, startPosition, distanceToScroll, 1000);
        window.scrollTo(0, run);
        if (timeElapsed < 1000) requestAnimationFrame(animation);
        }
        requestAnimationFrame(animation);
    });
    });
    function easeInOut(t, b, c, d) {
    t /= d/2;
    if (t < 1) return c/2*t*t + b;
    t--;
    return -c/2 * (t*(t-2) - 1) + b;
    }
    const scrollToTopButton = document.getElementById('scrollToTopBtn');
    window.addEventListener('scroll', () => {
    if (window.pageYOffset > 300) { 
        scrollToTopButton.style.display = 'block';
    } else {
        scrollToTopButton.style.display = 'none';
    }
    });
    document.getElementById('scrollToTopBtn').addEventListener('click', () => {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    });
</script>
</html>