<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Hub</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/daf4636196.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="logo"></a>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Order Now</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#footer">Contact</a></li>
                <li><a href="#" onclick="openLoginOverlay()">Login</a></li>
                <li><a href="#" onclick="openSignupOverlay()">Signup</a></li>
            </ul>
            
        </nav>
        <div class="hero">
            <img id="hero-image" src="{% static 'images/banner2.jpg' %}" alt="Canteen Hero Image">
            <div class="hero-overlay"></div> 
            <div class="container hero-content">
               <div id="headerlogo">
                <img src="{% static 'images/3.png' %}" alt="">
               </div>
                <h1 class="hero-heading">Discover the Best Food & Drinks on Campus</h1>
                <div class="search-bar" style="cursor: pointer;">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Search for cuisines, dishes..." autocomplete="off">
                    
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="signup-overlay" id="signupOverlay">
            <div class="overlay-content">
                <section style="display: flex;align-items: center;justify-content: space-between;">
                    <h3>Sign up</h3>
                    <button class="close-overlay" id="closeSignup" onclick="closeSignupOverlay()" style="display: flex;align-items: center;justify-content: space-between;"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                      </svg></button>
                </section>
        
                <section>
                    <div class="form-group">
                        <label for="signup-error-message" id="signup-error-message" style="color: #ea4335;"></label>
                    </div>
                    <div class="form-group">
                        <input type="text" id="username" name="username" placeholder=" " required autocomplete="off">
                        <label class="user-label" for="username">Full Name*</label>
                    </div>
                    <div class="form-group" id="email-field">
                        <input type="email" class="email" id="email" name="email" placeholder=" " required autocomplete="off">
                        <label class="email-label" for="email">Email*</label>
                    </div>
                    <div class="form-group" id="email-field">
                        <input type="tel" class="phone" id="phone" name="phone" placeholder=" " required autocomplete="off">
                        <label class="phone-label" for="phone">Phone Numer*</label>
                    </div>
                    <div class="terms-checkbox">
                        <input type="checkbox" id="agreeTerms">
                        <label for="agreeTerms">
                            I agree to Food Hub's 
                            <a href="#" target="_blank">Terms of Service</a>, 
                            <a href="#" target="_blank">Privacy Policy</a> 
                        </label>
                    </div>
                    
                    <button class="signup-button" id="signupButton" disabled>Create account</button>                    
        
                    <div class="divider">
                        <span>or</span>
                    </div>
        
                    <div class="google-signup">
                        <button class="google-button" id="google-signup-button">
                            <img src="{% static 'images/google.png' %}" alt="Google Logo"> 
                            Continue with Google
                        </button>
                    </div>
        
                    <div class="divider">
                        <hr>
                    </div>
        
                    <p class="login-link">
                        Already have an account? 
                        <a href="#" onclick="openLoginOverlay()">Log in</a>
                    </p>
                </section>
            </div>
        </div>  
        <div class="login-overlay" id="loginOverlay">
            <div class="overlay-content">
                <section style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>Login</h3>
                    <button class="close-overlay" id="closeLogin" onclick="closeLoginOverlay()" style="display: flex; align-items: center; justify-content: space-between;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </button>
                </section>
        
                <section>
                    <div class="form-group">
                        <label for="error-message" id="error-message" style="color: #ea4335;"></label>
                    </div>
                    <div class="form-group">
                        <div style="display: flex; align-items: center;" id="phonenumberlabel">
                            <input type="email" id="login-email" name="login-email" placeholder="Email" required autocomplete="off">
                        </div>
                    </div>
                    <button class="verification-button" id="verificationButton">Send Verification Code</button>
                    <div class="divider">
                        <span>or</span>
                    </div>
        
                    <div class="google-login"> 
                        <button class="google-button" id="google-login-button">
                            <img src="{% static 'images/google.png' %}" alt="Google Logo"> 
                            Continue with Google
                        </button>
                    </div>
        
                    <div class="divider">
                        <hr>
                    </div>
        
                    <p class="signup-link">
                        Don't have an account? 
                        <a href="#" onclick="openSignupOverlay()">Sign up</a>
                    </p>
                </section>
            </div>
        </div> 
        <div class="login-verification-overlay" id="login-verification-overlay">
            <div class="overlay-content">
                <section style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>Verification Code</h3>
                    <button class="close-overlay" id="close-verification-overlay" onclick="closeLoginVerificationOverlay()" style="display: flex; align-items: center; justify-content: space-between;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </button>
                </section>
                <section>
                    <p id="login-verification-error" style="color: #ea4335;"></p>
                    <p class="verification-message">One Time Password has been sent to your email <strong id="verification-email"></strong>. Please enter it below. Valid for 10 minutes.</p>
                    <div class="otp-inputs">
                        <input maxlength="1" pattern="[0-9]*" type="text" class="otp-input" id="login-otp-input" oninput="moveToNext(this)" onkeydown="moveBack(this, event)" />
                        <input maxlength="1" pattern="[0-9]*" type="text" class="otp-input" id="login-otp-input" oninput="moveToNext(this)" onkeydown="moveBack(this, event)" />
                        <input maxlength="1" pattern="[0-9]*" type="text" class="otp-input" id="login-otp-input" oninput="moveToNext(this)" onkeydown="moveBack(this, event)" />
                        <input maxlength="1" pattern="[0-9]*" type="text" class="otp-input" id="login-otp-input" oninput="moveToNext(this)" onkeydown="moveBack(this, event)" />
                        <input maxlength="1" pattern="[0-9]*" type="text" class="otp-input" id="login-otp-input" oninput="moveToNext(this)" onkeydown="moveBack(this, event)" />
                        <input maxlength="1" pattern="[0-9]*" type="text" class="otp-input" id="login-otp-input" oninput="moveToNext(this)" onkeydown="moveBack(this, event)" />

                    </div>
                    <p class="timer" id="login-timer">00:00</p>
                    <p class="resend-message">Not received OTP? <span class="resend-link" onclick="resendLoginOTP()" id="login-resend-link">Resend Now</span></p>
                </section>
            </div>
        </div>  
        <div class="cancel-overlay" id="cancel-overlay">
            <div class="cancel-overlay-content">
                <p>Are you sure you want to cancel the verification?</p>
                <div>
                    <button id="confirmTermination">Yes</button>
                </div>
                <div class="cancel-divider"></div>
                <div>
                    <button id="cancelTermination">No</button>
                </div>
            </div>
        </div>
    
        <div class="signup-verification-overlay" id="signup-verification-overlay">
            <div class="overlay-content">
                <section style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>Verification Code</h3>
                    <button class="close-overlay" id="close-verification-overlay" onclick="closeSignupVerificationOverlay()" style="display: flex; align-items: center; justify-content: space-between;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </button>
                </section>
                <section>
                    <p id="signup-verification-error" style="color: #ea4335;"></p>
                    <p class="verification-message">One Time Password has been sent to your email <strong id="signup-verification-email"></strong>. Please enter it below. Valid for 10 minutes.</p>
                    <div class="otp-inputs">
                        <input maxlength="1" pattern="[0-9]*" type="text" class="otp-input" id="signup-otp-input" oninput="moveToNext(this)" onkeydown="moveBack(this, event)" />
                        <input maxlength="1" pattern="[0-9]*" type="text" class="otp-input" id="signup-otp-input" oninput="moveToNext(this)" onkeydown="moveBack(this, event)" />
                        <input maxlength="1" pattern="[0-9]*" type="text" class="otp-input" id="signup-otp-input" oninput="moveToNext(this)" onkeydown="moveBack(this, event)" />
                        <input maxlength="1" pattern="[0-9]*" type="text" class="otp-input" id="signup-otp-input" oninput="moveToNext(this)" onkeydown="moveBack(this, event)" />
                        <input maxlength="1" pattern="[0-9]*" type="text" class="otp-input" id="signup-otp-input" oninput="moveToNext(this)" onkeydown="moveBack(this, event)" />
                        <input maxlength="1" pattern="[0-9]*" type="text" class="otp-input" id="signup-otp-input" oninput="moveToNext(this)" onkeydown="moveBack(this, event)" />
                    </div>
                    <p class="timer" id="signup-timer">00:00</p>
                    <p class="resend-message">Not received OTP? <span class="resend-link" onclick="resendSignupOTP()" id="signup-resend-link">Resend Now</span></p>
                </section>
            </div>
        </div>         
        <section class="top">

            <div class="cards">
              <a href="#">
                <img src="{% static 'images/ordernow.jpg' %}" alt="Order Food Online">
                <h2>Order Food Online</h2>
              </a>
            </div>
      
            <div class="cards">
              <a href="#">
                <img src="{% static 'images/book a table.jpg' %}" alt="Go out for a meal">
                <h2>Go out for a meal</h2>
              </a>
            </div>
            <div class="cards">
                <a href="#">
                  <img src="{% static 'images/fastdeleviry_processed.png' %}" alt="Go out for a meal">
                  <h2>Get Food Delivered Fast!</h2>
                </a>
              </div>
            
      
        </section>

        <section class="explore-options section">
            <div class="container">
              <div class="options-wrapper">
                <div class="option" id="cuisines">
                  <h3>Popular Cuisines</h3>
                  <div class="cuisine-items"> 
                    <a href="#" class="cuisine-item">
                      <img src="{% static 'images/north indian food.jpg' %}" alt="North Indian">
                      <h4>North Indian</h4>
                      <ul class="popular-dishes">
                        <li>Butter Chicken</li>
                        <li>Dal Makhani</li>
                        <li>Naan</li>
                      </ul>
                    </a>
                    <a href="#" class="cuisine-item">
                      <img src="{% static 'images/south_indian_food.jpeg' %}" alt="South Indian">
                      <h4>South Indian</h4>
                      <ul class="popular-dishes">
                        <li>Dosa</li>
                        <li>Idli</li>
                        <li>Vada</li>
                      </ul>
                    </a>
                    <a href="#" class="cuisine-item">
                      <img src="{% static 'images/chinese.webp' %}" alt="Chinese">
                      <h4>Chinese</h4>
                      <ul class="popular-dishes">
                        <li>Noodles</li>
                        <li>Fried Rice</li>
                        <li>Manchurian</li>
                      </ul>
                    </a>
                    <a href="#" class="cuisine-item">
                      <img src="{% static 'images/italian.jpg' %}" alt="Italian">
                      <h4>Italian</h4>
                      <ul class="popular-dishes">
                        <li>Pizza</li>
                        <li>Pasta</li>
                        <li>Garlic Bread</li>
                      </ul>
                    </a>
                    <a href="#" class="cuisine-item">
                      <img src="{% static 'images/mexican.jpg' %}" alt="Mexican">
                      <h4>Mexican</h4>
                      <ul class="popular-dishes">
                        <li>Tacos</li>
                        <li>Burritos</li>
                        <li>Quesadillas</li>
                      </ul>
                    </a>
                    </div> 
                </div>
              </div>
            </div>
        </section>
        <section class="frequently-ordered">
            <div>
                <h3>Most Ordered Dishes</h3> 
                <div class="dish-carousel"> 
                    <div class="carousel-track">
                        <div class="dish-card">
                            <img src="https://b.zmtcdn.com/data/dish_images/197987b7ebcd1ee08f8c25ea4e77e20f1634731334.png" alt="Chicken Dish">
                            <div class="dish-info">
                                <h3>Chicken</h3>
                            </div>
                        </div>
                        
                        <div class="dish-card">
                            <img src="https://b.zmtcdn.com/data/dish_images/d9766dd91cd75416f4f65cf286ca84331634805483.png" alt="Chicken Dish">
                            <div class="dish-info">
                                <h3>Idli</h3>
                            </div>
                        </div>
                        <div class="dish-card">
                            <img src="https://b.zmtcdn.com/data/dish_images/c2f22c42f7ba90d81440a88449f4e5891634806087.png" alt="Chicken Dish">
                            <div class="dish-info">
                                <h3>Rolls</h3>
                            </div>
                        </div>
                        <div class="dish-card">
                            <img src="https://b.zmtcdn.com/data/dish_images/e44c42ff4b60b025225c8691ef9735b11635781903.png" alt="Chicken Dish">
                            <div class="dish-info">
                                <h3>Paneer</h3>
                            </div>
                        </div>
                        <div class="dish-card">
                            <img src="https://b.zmtcdn.com/data/dish_images/d5ab931c8c239271de45e1c159af94311634805744.png" alt="Chicken Dish">
                            <div class="dish-info">
                                <h3>Cakes</h3>
                            </div>
                        </div>
                        <div class="dish-card">
                            <img src="https://b.zmtcdn.com/data/o2_assets/bf2d0e73add1c206aeeb9fec762438111727708719.png" alt="Chicken Dish">
                            <div class="dish-info">
                                <h3>Biryani</h3>
                            </div>
                        </div>
                        <div class="dish-card">
                            <img src="https://b.zmtcdn.com/data/o2_assets/d0bd7c9405ac87f6aa65e31fe55800941632716575.png" alt="Chicken Dish">
                            <div class="dish-info">
                                <h3>Pizza</h3>
                            </div>
                        </div>
                        
                    </div>
                    <i class="bi bi-chevron-compact-left carousel-prev"></i>
                    <i class="bi bi-chevron-compact-right carousel-next"></i>
                </div>
            </div>
        </section>
        <section class="about-canteen section" id="about">
            <div class="about container">
              <h3>About</h3>
              <p>
                We're your one-stop shop for all your campus food cravings! Order ahead, skip the lines, and enjoy fresh, delicious meals delivered right to you. Whether it's a quick bite between classes or a hearty dinner after a long day, Canteen makes campus dining easy and enjoyable. 
              </p>
              
            </div>
            <div class="about container-img">
                <img src="{% static '/images/DSC_0823.JPG' %}" alt="Chicken Dish">
            </div>
        </section>
        <!--
        <section class="get-app setion" id="get-app">
            <div id="downloadimage">
                <img src="{% static 'images/downloadimage.avif' %}" alt="download">
            </div>
            <div class="download container">
                <p>Download the app and start exploring the best food options on campus!</p>
                
                <div class="app-links">
                  <a href="#" target="_blank"> <img alt="Get it on Google Play" src="https://b.zmtcdn.com/data/webuikit/9f0c85a5e33adb783fa0aef667075f9e1556003622.png" loading="lazy" class="sc-s1isp7-5 fyZwWD"> </a>
                  <a href="#" target="_blank"> <img alt="Download on the App Store" src="https://b.zmtcdn.com/data/webuikit/23e930757c3df49840c482a8638bf5c31556001144.png" loading="lazy" class="sc-s1isp7-5 fyZwWD"> </a>
                </div>
              </div>
              
        </section>
        -->
          <button id="scrollToTopBtn" title="Back to top">
            <i class="bi bi-chevron-up" style="font-weight: 600;"></i>
        </button>
    </main>

    <footer class="footer" id="footer">
        <div class="container"> 
          <div class="footer-content">
      
            <div class="footer-section logo-section">
              <img src="{% static 'images/3.png' %}" alt="Canteen Logo">
              
            </div> 
      
            <div class="footer-section links-section">
              <div class="link-column">
                <h6>Contact Us</h6>
                <nav>
                  <a href="#">Email</a>
                  <a href="#">Phone</a>
                </nav>
              </div>
            </div>
            <div class="footer-section maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d795.6657633302855!2d83.40501683559759!3d18.061473825406793!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3be5b8cf7c64d5%3A0x1d00d3df1d61db4e!2sMVGR%20Canteen!5e0!3m2!1sen!2sin!4v1727594887566!5m2!1sen!2sin" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="footer-section social-section">
              <h6>Social Links</h6>
              <div class="social-icons">
                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              </div>
              <div class="app-download">
                <a href="#" target="_blank"><img src="https://b.zmtcdn.com/data/webuikit/23e930757c3df49840c482a8638bf5c31556001144.png" alt="Download on the App Store"></a>
                <a href="#" target="_blank"><img src="https://b.zmtcdn.com/data/webuikit/9f0c85a5e33adb783fa0aef667075f9e1556003622.png" alt="Get it on Google Play"></a>
              </div>
            </div>
      
          </div> 
          <hr class="footer-divider">
          <p class="copyright">
            © 2024. All Rights Reserved.
          </p>
        </div>
      </footer>
</body>
<script>
    let currentAction = '';
    let timerId = null;

    function openSignupOverlay() {
        document.getElementById("signupOverlay").style.display = "flex";
        document.body.classList.add('overlay-open');
        document.getElementById("loginOverlay").style.display = "none";
        document.getElementById("signup-verification-overlay").style.display = "none"; 
    }

    function closeSignupOverlay() {
        document.getElementById("signupOverlay").style.display = "none";
        document.body.classList.remove('overlay-open');
    }

    function openLoginOverlay() {
        document.getElementById("loginOverlay").style.display = "flex";
        document.body.classList.add('overlay-open');
        document.getElementById("signupOverlay").style.display = "none";
        document.getElementById("login-verification-overlay").style.display = "none";
    }

    function closeLoginOverlay() {
        document.getElementById("loginOverlay").style.display = "none";
        document.body.classList.remove('overlay-open');
    }
    function closeLoginVerificationOverlay() {
        document.getElementById("cancel-overlay").style.display = "flex";
        document.getElementById("confirmTermination").addEventListener("click", function() {
            clearOTPFields();
            closeCancelOverlay() ; 
            document.getElementById('login-verification-overlay').style.visibility = 'hidden';     
        });
        document.getElementById("cancelTermination").addEventListener("click", function() {
            closeCancelOverlay() ;
        });
    }
    function openCancelOverlay() {
        document.getElementById("cancel-overlay").style.display = "flex";
    }

    function closeCancelOverlay() {
        document.getElementById("cancel-overlay").style.display = "none";
    }
    function openLoginVerificationOverlay() {
        document.getElementById("signupOverlay").style.display = "none"; 
        document.getElementById("loginOverlay").style.display = "none"; 
        document.getElementById('login-verification-overlay').style.visibility = 'visible'; 
        document.getElementById('login-verification-overlay').style.display = 'flex'; 
        currentAction='login';    
    }
    function closeSignupVerificationOverlay() {
        document.getElementById("cancel-overlay").style.display = "flex";
        document.getElementById("confirmTermination").addEventListener("click", function() {
            clearOTPFields();
            closeCancelOverlay() ; 
            document.getElementById('signup-verification-overlay').style.visibility = 'hidden';
        });
        document.getElementById("cancelTermination").addEventListener("click", function() {
            closeCancelOverlay() ;
        });
    }
    function openSignupVerificationOverlay() {
        document.getElementById("signupOverlay").style.display = "none"; 
        document.getElementById("loginOverlay").style.display = "none"; 
        document.getElementById('signup-verification-overlay').style.visibility = 'visible';  
        document.getElementById('signup-verification-overlay').style.display = 'flex';   
        currentAction='signup';
    }

    function resendLoginOTP() {
        const email = document.getElementById('login-email').value;
        sendLoginVerificationCode(email);
        clearOTPFields();
        resetLoginTimer();
        document.getElementById("verificationButton").classList.add('loading');
    }

    function resendSignupOTP() {
        const username = document.getElementById('username').value;
        const email = document.getElementById('email').value;
        const phone = document.getElementById('phone').value;
        sendSignupVerificationCode(email,phone,username);
        clearOTPFields();
        resetSignupTimer();
    }

    function moveToNext(input) {
        if (input.value.length >= 1) {
            const inputs = document.querySelectorAll('.otp-input');
            const currentIndex = Array.from(inputs).indexOf(input);

            if (currentIndex < inputs.length - 1) {
                inputs[currentIndex + 1].focus();
            }
        }
    }

    function moveBack(input, event) {
        if (event.key === "Backspace" && input.value.length === 0) {
            const inputs = document.querySelectorAll('.otp-input');
            const currentIndex = Array.from(inputs).indexOf(input);

            if (currentIndex > 0) {
                inputs[currentIndex - 1].focus();
            }
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        const usernameInput = document.getElementById('username');
        const emailInput = document.getElementById('email');
        const agreeTermsCheckbox = document.getElementById('agreeTerms');
        const signupButton = document.getElementById('signupButton');

        function validateForm() {
            const isUsernameValid = usernameInput.value.length > 3;
            const isEmailValid = validateEmail(emailInput.value);
            const isTermsChecked = agreeTermsCheckbox.checked;

            signupButton.disabled = !(isUsernameValid && isEmailValid && isTermsChecked);
        }

        if (usernameInput) {
            usernameInput.addEventListener('input', validateForm);
        }
        if (emailInput) {
            emailInput.addEventListener('input', validateForm);
        }
        if (agreeTermsCheckbox) {
            agreeTermsCheckbox.addEventListener('change', validateForm);
        }

        const verificationButton = document.getElementById('verificationButton');
        if (verificationButton) {
            verificationButton.addEventListener('click', () => {
                const emailLogin = document.getElementById('login-email').value;
                if (!validateEmail(emailLogin)) {
                    document.getElementById('error-message').textContent = 'Invalid Email';
                    return;
                }
                verificationButton.classList.add('loading');
                sendLoginVerificationCode(emailLogin); 
                
            });
        }

        const signupSubmitButton = document.getElementById('signupButton');
        if (signupSubmitButton) {
            signupSubmitButton.addEventListener('click', () => {
                const username = document.getElementById('username').value;
                const email = document.getElementById('email').value;
                const phone = document.getElementById('phone').value;
                if (!validateEmail(email)) {
                    document.getElementById('error-message').textContent = 'Invalid Email';
                    return;
                }
                signupSubmitButton.classList.add('loading');
                sendSignupVerificationCode(email, phone, username); 
                
            });
        }
    });

    function validateEmail(email) {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(email);
    }
    function validatePhoneNumber(phone) {
        const phoneRegex = /^[6-9]\d{9}$/; 
        return phoneRegex.test(phone);
    }

    function validateName(name) {
        const nameRegex = /^[A-Za-z.\s]+$/; 
        return nameRegex.test(name);
    }
    function sendLoginVerificationCode(email) {
        if (!validateEmail(email)) {
            document.getElementById('error-message').textContent='Invalid Email';
            return;
        }
        fetch('/sendverificationcode/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({ email_login: email }) 
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('verificationButton').classList.remove('loading');
            if (data.success) {
                closeLoginOverlay();
                openLoginVerificationOverlay();
                startLoginTimer();
            } else {
                document.getElementById('error-message').textContent=data.error;
            }
        })
        .catch(error => {
            document.getElementById('verificationButton').classList.remove('loading'); 
            console.error('Error sending verification code:', error);
            alert('Error sending verification code. Please try again later.');
        });
    }
    function sendSignupVerificationCode(email, phone, username) {
        if (!validateEmail(email)) {
            document.getElementById('signup-error-message').textContent = 'Invalid Email'; 
            return;
        }
        if (!validatePhoneNumber(phone)) {
            document.getElementById('signup-error-message').textContent = 'Invalid Phone Number';
            return;
        }

        if (!validateName(username)) {
            document.getElementById('signup-error-message').textContent = 'Invalid Name';
            return;
        }
        fetch('/sendsignverificationcode/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({ 
                email: email, 
                action: 'signup',
                phone: phone,
                username: username
            }) 
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('signupButton').classList.remove('loading'); 

            if (data.success) {
                closeSignupOverlay();
                openSignupVerificationOverlay();
                startSignupTimer();
            } else {
                document.getElementById('signup-error-message').textContent = data.error; 
            }
        })
        .catch(error => {
            document.getElementById('signupButton').classList.remove('loading'); 
            console.error('Error sending verification code:', error);
            alert('Error sending verification code. Please try again later.');
        });
    }
    function startLoginTimer() {
        let seconds = 59; 
        const timerElement = document.querySelector('#login-timer');
        const resendLink = document.querySelector('#login-resend-link');
        resendLink.style.display = 'none';

        timerId = setInterval(function() {
            const minutes = Math.floor(seconds / 60);
            const remainingSeconds = seconds % 60;
            timerElement.textContent = `${minutes.toString().padStart(2, '0')}:${remainingSeconds.toString().padStart(2, '0')}`;

            if (seconds <= 0) {
                clearInterval(timerId);
                timerElement.textContent = "00:00";
                resendLink.style.display = 'inline-block';
            }
            seconds--;
        }, 1000);
    }
    function startSignupTimer() {
        let seconds = 59; 
        const timerElement = document.querySelector('#signup-timer');
        const resendLink = document.querySelector('#signup-resend-link');
        resendLink.style.display = 'none';

        timerId = setInterval(function() {
            const minutes = Math.floor(seconds / 60);
            const remainingSeconds = seconds % 60;
            timerElement.textContent = `${minutes.toString().padStart(2, '0')}:${remainingSeconds.toString().padStart(2, '0')}`;

            if (seconds <= 0) {
                clearInterval(timerId);
                timerElement.textContent = "00:00";
                resendLink.style.display = 'inline-block';
            }
            seconds--;
        }, 1000);
    }

    function clearOTPFields() {
        const otpInputs = document.querySelectorAll('.otp-input');
        otpInputs.forEach(input => input.value = '');
    }

    function resetLoginTimer() {
        clearInterval(timerId);
        startLoginTimer();
    }
    function resetSignupTimer() {
        clearInterval(timerId);
        startSignupTimer();
    }

    function validateOTP() {
        const otpInputs = document.querySelectorAll('.otp-input');
        const otp = Array.from(otpInputs).map(input => input.value).join('');
        let dataToSend = {}; 

        if (currentAction === 'login'){
            const email = document.getElementById('login-email').value;
            dataToSend = { 
                email: email,
                code: otp,
            };
        }
        if (currentAction === 'signup'){
            const email = document.getElementById('email').value;
            dataToSend = { 
                email: email,
                code: otp,
                username: document.getElementById('username').value,
                phone_number: document.getElementById('phone').value,
            };
        }
        const username = document.getElementById('username').value; 
        const phone = document.getElementById('phone').value;
        if (otp.length === 6) {
            let verificationUrl = (currentAction === 'login') ? '/loginverifymail/' : '/signupverifymail/';

            fetch(verificationUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify(dataToSend)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = '/';
                } else {
                    let errorId = (currentAction === 'login') ? 'login-verification-error' : 'signup-verification-error';
                    document.getElementById(errorId).textContent = data.error;
                    otpInputs.forEach(input => input.value = '');
                }
            })
            .catch(error => {
                console.error('Error verifying OTP:', error);
                alert('Error verifying OTP. Please try again later.');
            });
        }
    }

    const lastOTPInput = document.querySelectorAll('#login-otp-input')[5];
    if (lastOTPInput) {
        lastOTPInput.addEventListener('keyup', validateOTP);
    }
    const signupLastOTPInput = document.querySelectorAll('#signup-otp-input')[5];
    if (signupLastOTPInput) {
        signupLastOTPInput.addEventListener('keyup', validateOTP);
    }
    const searchUrl = "{% url 'search' %}"; 

    document.querySelector('.search-bar').addEventListener('click', (event) => {
        window.location.href = searchUrl; 
    });
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<script>
    const track = document.querySelector('.carousel-track');
    const prevButton = document.querySelector('.carousel-prev');
    const nextButton = document.querySelector('.carousel-next');
    let currentPosition = 0;
    const cardWidth = 235; 

    nextButton.addEventListener('click', () => {
    const maxScroll = track.scrollWidth - track.clientWidth;
    if (currentPosition + cardWidth < maxScroll) {
        currentPosition += cardWidth;
    } 
    track.style.transform = `translateX(-${currentPosition}px)`;
    });

    prevButton.addEventListener('click', () => {
    if (currentPosition > 0) {
        currentPosition -= cardWidth; 
    } else {
        currentPosition = 0; 
    }
    track.style.transform = `translateX(-${currentPosition}px)`;
    });
    const scrollToTopButton = document.getElementById('scrollToTopBtn');
    window.addEventListener('scroll', () => {
    if (window.pageYOffset > 300) { 
        scrollToTopButton.style.display = 'block';
    } else {
        scrollToTopButton.style.display = 'none';
    }
    });
    document.getElementById('scrollToTopBtn').addEventListener('click', () => {
        
    });
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
            const targetId = this.getAttribute('href');
            const targetElement = document.querySelector(targetId);

            targetElement.scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
    document.getElementById('google-login-button').onclick = function() {
        fetch('/logout/', { 
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
        })
        .then(() => {
            window.location.href = "{% url 'social:begin' 'google-oauth2' %}";
        })
        .catch(error => {
            console.error('Logout error:', error);
        }); 
    };
    document.addEventListener('DOMContentLoaded', () => {
        openLoginOverlay();
    });
    document.getElementById('google-signup-button').onclick = function() {
        fetch('/logout/', { 
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
        })
        .then(() => {
            window.location.href = "{% url 'social:begin' 'google-oauth2' %}";
        })
        .catch(error => {
            console.error('Logout error:', error);
        }); 
    };
</script>
</html>