/*Menu styles*/
.displayimage{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.displayimage img{
    border-radius: 10px;
}
.menuitems,.submenuitems{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px;
  width: 96%;
  margin-left: 15px;
  justify-items: center; 
}
.menu-items,.sub-menu-items{
  border: 1px solid transparent;
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 100%; 
  text-align: center;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  background: #ffffff; 
}

.menu-items:hover,.sub-menu-items:hover {
  transform: scale3d(1.02); 
  
  border: 1px solid lightgray;
}
.menu-items img ,.sub-menu-items img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px; 
}

.menu-items h4,.sub-menu-items h4 {
  padding: 10px;
  text-align: center;
  margin-bottom: 0px;
  font-weight: 600;
}
.sub-menu-items  h5{
    margin: 0px;
    margin-bottom: 10px;
    font-weight: 500;
}
 .menuitems,.submenuitems{
  padding: 0 10px 10px;
}
.menu-actions{
    display: flex;
    justify-content: center;
}
.menu-items .image-container,.sub-menu-item .image-container{
    position: relative; 
    width: 100%;
    height: 250px; 
  }
  
  .menu-items img,.sub-menu-items img,.items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px; 
  }
  
  .menu-items .photo-icon,.sub-menu-items .photo-icon,.items .photo-icon {
    position: absolute;
    bottom: 0px; 
    right: 0px; 
    border-radius: 50%; 
    padding: 8px;
    cursor: pointer; 
  }
  
  .menu-items .photo-icon img,.sub-menu-items .photo-icon {
    width: 30px;
    height: 30px;
    border-radius: 0; 
    border-radius: 50%;
  }

.update-inputs{
    background-color: transparent;
    border: transparent;
}
.editbtn, .updatebtn {
    background-color: #0071e3;
    color: white;
}
.item-description{
    max-width: 50%;
}
.items {
    gap: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 25px 25px 0px 0px;
    overflow: auto;
    height: calc(100% - 191px);
    border: 1px solid rgba(100, 121, 143, 0.12);
  }

  .sub-item {
    border-bottom: 1px dashed #becff7;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sub-item h4,
  .sub-item h5 {
    margin-bottom: 10px;
  }

  .form-row {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
  }

  .form-row label {
    flex: 1;
  }

  .form-row input,
  .form-row textarea {
    flex: 2; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .item-description{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 15px;
  }
  label{
    color: rgb(95, 99, 104);
  }
  .item-image-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .item-image-container img {
    max-width: 500px;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  #items-actions {
    margin-top: 10px;
  }

  .photo-icon {
    cursor: pointer;
  }

  .photo-icon img {
    width: 30px;
    height: 30px;
  }
  .update-inputs{
      padding: 5px;
  }
  #items-actions{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .items .item-image-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 250px; 
    
  }
  .item-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .items .photo-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
  }
.items .photo-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

.search {
  display: flex;
  align-items: center; 
  border: 1px solid #cbd0dd;
  border-radius: 40px;
  padding-left: 5px;
  padding-right: 5px; 
  background-color: white;
}
.search input {
  border: none; 
  outline: none; 
  border-radius: 0; 
  background-color: transparent; 
  box-shadow: none; 
  padding: 8px; 
  font-size: 16px; 
}

.search input:focus {
  outline: none; 
  border-color: transparent; 
  box-shadow: none; 
  background-color: transparent; 
}

.search:hover,.search:focus{
  outline: none;
  border-color: #4285f4; 
  box-shadow: 0px 0px 8px rgba(66, 133, 244, 0.5); 
}
.search input[type="text"] {
  border: none;
  padding: 10px; 
  outline: none;
  background: transparent;
  width: 250px;
  box-shadow: none;
}
.search input[type="text"]:focus{
  box-shadow: none;
  outline: none;
}
.search svg {
  margin-left: 3px;
  width: 15px; 
  height: 15px;
  cursor: pointer;
  margin-right: 10px;
}